[submodule "theme/metronic"]
	path = theme/metronic
	url = git@github.com:yusufsobad/theme-metronic.git
[submodule "theme/sasi"]
	path = theme/sasi
	url = git@github.com:yusufsobad/theme-sasi.git
[submodule "theme/presensi"]
	path = theme/presensi
	url = git@github.com:yusufsobad/theme-presensi.git
